<div class="mt-5">
  <h1>Nosotros</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quasi tempore ratione ex nesciunt, fuga ipsam quas consectetur debitis. Sed atque illum hic! Odit ullam cum debitis facilis dicta enim.</p>
  
  <ul class="list-group">
    <li *ngFor="let item of equipo; index as i" class="list-group-item">
      <h6>Nombre: {{item.nombre}}</h6>
      <h6>Especialidad: {{item.especialidad}}</h6>
      <a [routerLink]="['/equipo/',i]">Leer más..</a>
    </li>
  </ul>
</div>