<h1 class="container">[ngFor]</h1>
<div class="container bg-dark p-4">
    
  <ul>
    <li class="text-white" *ngFor="let curso of cursos">{{curso}}</li>
  </ul>

  <hr>

  <table class="table">
    <thead>
      <tr class="text-white">
        <th scope="col">#</th>
        <th scope="col">TIPO</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">EDAD</th>
      </tr>
    </thead>
    <tbody class="text-white">
      <tr *ngFor="let animal of animales; index as i">
        <th scope="row">{{i}}</th>
        <td>{{animal.tipo}}</td>
        <td>{{animal.nombre}}</td>
        <td>{{animal.edad}}</td>
      </tr>
    </tbody>
  </table>

</div>